### Target Vendor/Product
CONFIG_VENDOR=NEWIFI
CONFIG_PRODUCT=MT7621
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI-D2"

### Performance (Tối ưu xung nhịp và xử lý)
CONFIG_FIRMWARE_CPU_900MHZ=y
CONFIG_FIRMWARE_CPU_SLEEP=y

### WiFi Drivers
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Networking (Tích hợp các tính năng cao cấp)
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_ENABLE_SWAP=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Traffic Management (SQM & IFB) - Chống nghẽn mạng
CONFIG_FIRMWARE_INCLUDE_QOS=y
CONFIG_FIRMWARE_INCLUDE_IFB=y
CONFIG_FIRMWARE_SQM_UI=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Security & VPN (Ưu tiên WireGuard)
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Dịch vụ chính
CONFIG_FIRMWARE_INCLUDE_AGH=y
CONFIG_FIRMWARE_INCLUDE_FILEBROWSER=y
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### Utilities
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_SMBD=y
CONFIG_FIRMWARE_INCLUDE_SMBD36=y
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y
